body {
    background-color: #e8e8e8;
}

#vision-board {
    background: url("../img/background.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 850px;
    margin: auto;
    text-transform: uppercase;
    width: 1200px;
}

.block {
    box-sizing: border-box;
    float: left;
    width: 400px;
}

.large-block {
    height: 430px;
    padding: 60px 30px 60px 30px;
}

.small-block {
    height: 210px;
    padding: 30px 25px 30px 25px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.clear { 
    clear: both;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #3b3b3b;
}

span {
    background: #fff44f;
    line-height: 5px;
    padding: 5px 10px;
}

#my-vision h2 {
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    line-height: 12px;
}

#my-vision p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 10px;
}

h1 {
    font-size: 38px;
    line-height: 10px;
    margin: 0 0 30px 0;
    text-transform: none;
}

p {
    font-size: 20px;
    line-height: 5px;
 }

br {
    font-size: 10px;
}